// src/styles/_variables.scss
$white-color: #ffffff;
$black-color-v1: #383535;
$black-color-v2: #272727;
$black-color-v3: #212121;
$black-color-v4: #000000;
$red-color-v1: #ff151d;
$red-color-v2: #e91c21;
$red-color-v3: #a80005;
$orange-color-v1: #f95231;

// Break point
$breakpoint-latop: 1750px;
$breakpoint-latop-md: 1712px;
$breakpoint-latop-x-md: 1550px;
$breakpoint-latop-1406: 1406px;
$breakpoint-latop-sm: 1265px;
$breakpoint-tablet: 1238px;
$breakpoint-tablet-md: 1130px;
$breakpoint-tablet-sm: 1033px;
$breakpoint-tablet-x-sm: 970px;
$breakpoint-mobile-md: 600px;
$breakpoint-mobile: 1000px;
